/* Bismillohir Rahmonir Rahiym */

@import "main";
@import "media";

/* FONTS */

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Regular.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/IbarraRealNova-Bold.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
    url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* VARIABLES */

$color-text-primary: #33323d;
$color-text-secondary: rgba(51, 50, 61, 0.8);
$color-grey-light: #5fb4a2;

/* REUSABLES */

.heading {
  margin: 0;
  font-family: "Ibarra Real Nova", "Times New Roman", Times, serif;
  color: var(--color-text-primary);
}

.heading--primary,
.heading--secondary {
  font-weight: bold;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
}

@media screen and (min-width: 1024px) {
  .heading--primary {
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.45px;
  }
}

.btn {
  display: inline-block;
  padding: 17px 34px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &:active {
    opacity: 0.6;
  }
}

.btn--light {
  color: var(--color-text-primary);
  background-color: transparent;
  border: 1px solid var(--color-text-primary);

  &:hover {
    color: #fafafa;
    background-color: var(--color-text-primary);
  }
}

.btn--dark {
  color: #fff;
  background-color: #203a4c;
  border: 1px solid #203a4c;

  &:hover {
    color: #203a4c;
    background-color: transparent;
  }
}

/* DEFAULT STYLES */

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text-secondary);
  background-color: #fafafa;
}

img {
  max-width: 100%;
  height: auto;
}

/* STICKY FOOTER */

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;
}

.site-footer {
  flex-shrink: 0;
}

/* SPECIAL CLASSES */

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 32px;
}

@media screen and (min-width: 600px) {
  .container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
